.top-right-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -6px;
  top: -10px;
}
